<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>DESAFIO OLIST</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Desafio Olist - CRUD</h1>
        <h4>Por Helena Meyer Kopp</h4>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <a href="/sellers" class="btn btn-success">Vendedores</a>
        <a href="/products" class="btn btn-success">Produtos</a>
        <a href="/marketplaces" class="btn btn-success">Marketplaces</a>
        <a href="/categories" class="btn btn-success">Categorias</a>
    </div>

</body>
</html>