<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>DESAFIO OLIST</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <div class="col-8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastro de Vendedores</h1>
    </div>

    <div class="col-8 m-auto pt-3 pb-2 text-center">
        <a href="/sellers" class="btn btn-info">Voltar</a>
    </div>

    <div class="col-8 m-auto pt-4 pb-2 text-center">
        <div id="result"></div>

        <form name="form" id="form" action="{% if db %}/updateSeller/{{db.id}}/{%else%}/createSellers/{% endif %}" method="post">
            {% csrf_token %}
            <div class="form-group mt-4">Nome: {{formSellers.name}}</div>
            <div class="form-group mt-4">Razão Social: {{formSellers.social_reason}}</div>
            <div class="form-group mt-4">CNPJ: {{formSellers.cnpj}}</div>
            <div class="form-group mt-4">Email: {{formSellers.email}}</div>
            <div class="form-group mt-4">Telefone: {{formSellers.phone}}</div>
            <div class="form-group mt-4">Endereço: {{formSellers.address}}</div>
            <input type="submit" class="btn btn-success mt-4" value="Salvar">
        </form>
    </div>
    {% load static %}
    <script src="{% static 'javascript.js' %}"></script>
</body>
</html>